@use "../utils" as *;

.button {
  display: inline-block;
  padding: 16px 22px 16px 38px;
  color: var(--color-text-white);
  background-color: var(--color-bg-accent-two);
  border: none;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  font-size: 16px;
  line-height: 1.75;
  cursor: pointer;
}

.gamburger-button {
  position: relative;
  padding: 16px 24px 16px;
  background-color: transparent;
  transition: rotate .4s ease-in-out;

  @include bp-up(md) {
    display: none;
  }

  & > span:nth-of-type(2n + 1) {
    transition: rotate 1s ease-in-out;
  }

  & > span {
    margin-bottom: 5px;
    display: block;
    width: 30px;
    height: 5px;
    background-color: var(--color-text-main);
    rotate: 0deg;
  }

  &:hover > span:nth-of-type(1) {
    position: absolute;
    top: 28px;
    left: 24px;
    rotate: 135deg;
  }

  &:hover > span:nth-of-type(2) {
    visibility: hidden;
  }

  &:hover > span:nth-of-type(3) {
    position: absolute;
    top: 28px;
    right: 22px;
    rotate: -135deg;
  }
}

.close-button {
    position: relative;
    padding: 20px;
    background-color: transparent;

    & > span {
      position: absolute;
      margin-bottom: 7px;
      display: block;
      width: 40px;
      height: 5px;
      background-color: var(--color-bg-accent-one);
    }

    & > span:first-of-type {
      top: 15px;
      left: -1px;
      rotate: 45deg;
    }

    & > span:last-of-type {
      top: 15px;
      right: 1px;
      rotate: -45deg;
    }
}
