@use "../utils" as *;

.button {
  display: inline-block;
  padding: 16px 22px 16px 38px;
  color: var(--color-text-white);
  background-color: var(--color-bg-accent-two);
  border: none;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  font-size: 16px;
  line-height: 1.75;
  cursor: pointer;
}

.gamburger-button {
  box-sizing: content-box;
  width: 24px;
  height: 21px;
  padding: 8px;
  z-index: 10;
  position: relative;
  background-color: transparent;

  @include bp-up(md) {
    display: none;
  }

  & > span:nth-of-type(2n + 1) {
    transition: rotate 0.3s ease-in-out;
  }

  & > span {
    margin-bottom: 5px;
    display: block;
    width: 24px;
    height: 3px;
    background-color: var(--color-text-main);
    rotate: 0deg;
  }

  @include unify-parent(".gamburger-button--active") {
    & > span:nth-of-type(1) {
      position: absolute;
      top: 17px;
      left: 9px;
      rotate: 135deg;
    }
    & > span:nth-of-type(2) {
      visibility: hidden;
    }
    & > span:nth-of-type(3) {
      position: absolute;
      top: 17px;
      right: 7px;
      rotate: -135deg;
    }
  }
}


