.mobile-menu {
  padding: 50px 20px 30px;
  position: fixed;
  top: 0;
  right: -75%;
  width: 70%;
  height: 100%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 90px;
  transition: right .4s 1s ease-in-out;
  background: border-box var(--color-bg-accent-three) url("../../images/mm/mobile-bg.jpg") center / cover no-repeat;

  &--open {
    right: 0;
  }

  &__btn {
   align-self: flex-end;
  }

  &__item {
    position: relative;
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--color-bg-accent-one);
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transition: all 1s ease-in-out;
    }

    &:hover::after {
        transform: scaleX(1);
    }
  }
}
