@use "../utils" as *;

.mobile-menu {
  padding: 50px 20px 30px;
  position: fixed;
  top: 0;
  right: -75%;
  width: 70%;
  height: 100%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 90px;
  transition: right 0.5s 0.3s ease-in-out;
  background: border-box var(--color-bg-accent-three)
    url("../../images/mm/mobile-bg.jpg") center / cover no-repeat;
  font-size: 34px;
  font-weight: 700;

  @include unify-parent(".mobile-menu--open") {
    right: 0;
  }

  &__btn {
    align-self: flex-end;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}
