@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

select,
input,
button,
textarea {
  font: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

address {
    font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }
