@use "sass:selector";
@use "../utils" as *;


.products {
  &__wrapper {
    position: relative;
    padding-top: 20px;
    padding-bottom: 40px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto repeat(3, auto);
    row-gap: 24px;
    justify-items: center;

   @include bp-up(sm) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      grid-template-rows: auto;
    }

   @include bp-up(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
    
  }


  &__header {
    grid-column: 1 / -1;
    margin-bottom: 24px;
    text-align: center;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__description {
    max-width: 618px;
  }

  &__card {
    width: 70%;

    @include bp-up(sm) {
      width: 100%;
    }

    @include bp-up(md) {
      width: 70%;
    }
    @include bp-up(md) {
      width: 95%;
    }
  }

  &__bee {
    position: absolute;
    &--one {
      top: 16%;
      left: 16%;
      width: 10%;
    }
    &--two {
      top: 35%;
      right: 12%;
      width: 8%;
    }
    &--three {
      top: 53%;
      left: 16%;
      width: 9%;
    }
    &--four {
      top: 56%;
      right: 12%;
      width: 12%;
    }
    &--five {
      bottom: 13%;
      right: 12%;
      width: 8%;
    }
  }
}
