@use "../utils/" as *;

.container {
  $container-with: 1360px;
  $container-padding-x: 15px;
  margin-inline: auto;
  padding-inline: $container-padding-x;
  max-width: calc($container-with - $container-padding-x * 2);
}

.pi {
  padding-inline: 16px;
  @include bp-up(sm) {
    padding-inline: 40px;
  }
  @include bp-up(md) {
    padding-inline: 90px;
  }
  @include bp-up(lg) {
    padding-inline: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: color-mix(in srgb, var(--color-text-main), transparent 30%);
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  z-index: 9;

  &--active {
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
}

.title {
  text-transform: uppercase;
  font-weight: 700;
}

.title-big {
  @extend .title;
  font-size: clamp(45px, 7.08vw, 136px);
  line-height: 0.9;
}

.title-medium {
  @extend .title;
  font-size: 18px;
  line-height: 1.25;
  @include bp-up(sm) {
    font-size: 22px;
  }
  @include bp-up(md) {
    font-size: 24px;
  }
  @include bp-up(lg) {
    font-size: 28px;
  }
  @include bp-up(xl) {
    font-size: 32px;
  }

  @include bp-up(xxl) {
    font-size: 36px;
  }
}

.title-small {
  @extend .title;
  font-size: 16px;
  line-height: 1.36;
  @include bp-up(md) {
    font-size: 18px;
  }
  @include bp-up(lg) {
    font-size: 20px;
  }
  @include bp-up(xl) {
    font-size: 22px;
  }
}

.section-title {
  @extend .title;
  font-size: 24px;
  line-height: 1.15;
  @include bp-up(sm) {
    font-size: 28px;
  }
  @include bp-up(md) {
    font-size: 34px;
  }
  @include bp-up(lg) {
    font-size: 40px;
  }
  @include bp-up(xl) {
    font-size: 44px;
  }
  @include bp-up(xxl) {
    font-size: 48px;
  }
}

.section-description {
  font-size: 16px;
  line-height: 1.66;
  color: var(--color-text-description);
  @include bp-up(sm) {
    font-size: 18px;
  }
}
